<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <activity
            android:name=".intro.intro.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.BaseActivity"/>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".disposal.DisposalActivity"/>
        <activity android:name=".sharing.postDetail.SharingPostDetailActivity"/>
        <activity android:name=".myprofile.detail.MyProfileDetailActivity"/>
        <activity android:name=".intro.sign.SignActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".myprofile.postList.MySharingPostListActivity"/>
        <activity android:name=".myprofile.applyList.WasteDisposalApplyListActivity"/>
        <activity android:name=".searchWasteSpec.SearchWasteSpecActivity"/>
        <activity android:name=".myprofile.applyDetail.WasteDisposalApplyDetailActivity"/>
        <activity android:name=".sharing.postEdit.EditSharingPostActivity"/>
        <activity android:name=".myprofile.privacyAndTerms.PrivacyAndTermsActivity"/>
    </application>
</manifest>